/* ProfilePage.module.css */
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 20px;
  width: 1000px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  .label {
    margin-top: 10px;
  }
  
  .input {
    margin-top: 5px;
  }
  
  .button {
    margin-top: 20px;
  }
  